extends layout

block content
  h1 #{title}
  form(method='POST', action='/utilisateurs/edit/'+utilisateur._id)
    #form-group
      label UserName:
      input.form-control(name='username', type='text', value=utilisateur.UserName)
    #form-group
      label Author:
      input.form-control(name='author', type='text', value=utilisateur.author)
    br
    input.btn.btn-primary(type='submit',value='Submit')
